<form id="sign-in-form" class="form-signin" method="POST" data-toggle="validator" role="form">
  <h2>Please sign in...</h2>
  <!-- E M A I L -->
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" placeholder="Enter your email" name="email" id="inputEmail" data-error="Invalid email address" required>
    <span class="help-block with-errors"></span>
  </div>
  <!-- P A S S W O R D -->
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" placeholder="Enter your password" name="password" id="inputPassword" data-minlength="6" data-error="At least 6 characters" required>
    <span class="help-block with-errors"></span>
  </div>
</div>
<br/>
<!-- Disable signup button until the form has no errors -->
<button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>