<div class='jumobotron'>
  <div class='container'>
    <h1>Marketing Review Tool</h1>
    <p>This tool were made to help make your life easier.</p>
    <p>If this is your first time visit this site, please sign up by clicking on the button below.</p>
    <p><button class="btn btn-lg btn-primary">Sign up</button></p>
  </div>
</div>