<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/metisMenu.css">
    <link rel="stylesheet" href="/styles/toastr.css">
    <!--STYLES END-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Create an account</h2>
            </div>
            <div class="panel-body">
              <form id="sign-up-form" class="form-signin" method="POST" data-toggle="validator" role="form">
                <fieldset>
                  <!-- N A M E -->
                  <div class="form-group">
                    <label for="inputName" class="control-label">Display name</label>
                    <input type="text" class="form-control" placeholder="John Snow" name="name" id="inputName" data-error="Display name is required" required>
                    <span class="help-block with-errors"></span>
                  </div>
                  <!-- E M A I L -->
                  <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" placeholder="johnsnow@got.com" name="email" id="inputEmail" data-error="Invalid email address" required>
                    <span class="help-block with-errors"></span>
                  </div>
                  <!-- P A S S W O R D -->
                  <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" placeholder="at least 6 characters" name="password" id="inputPassword" data-minlength="6" data-error="At least 6 characters" required>
                    <span class="help-block with-errors"></span>
                  </div>
                  <!-- C O N F I R M  P A S S W O R D -->
                  <div class="form-group">
                    <label for="inputConfirmation">Re-enter password</label>
                    <input type="password" class="form-control" placeholder="retype your password" name="confirmation" id="inputConfirmation" data-match="#inputPassword" data-match-error="Password cofirmation does not match" required>
                    <span class="help-block with-errors"></span>
                  </div>
                  <br/>
                  <!-- Disable signup button until the form has no errors -->
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/metisMenu.js"></script>
    <script src="/js/dependencies/sb-admin-2.js"></script>
    <script src="/js/dependencies/toastr.js"></script>
    <script src="/js/dependencies/validator.js"></script>
    <!--SCRIPTS END-->
    <% if (scripts) { %>
    <% for (i = 0; i < scripts.length; i++) { %>
    <script src="<%- scripts[i] %>"></script>
    <% } %>
    <% } %>
  </body>
</html>